# Julia
*.jl.cov
*.jl.mem



*.exe
*.dll
*.do
*.o
*.obj
*.so
*.dylib
*.dSYM
*.jl.cov
*.jl.mem
*.ji


# Backups
*~

# MkDocs build
site/


# Temp and status files
*.db
.*.swp
*.log
*.pid
pidfile
.DS_Store
*.rc
pip-log.txt
